* {
	box-sizing: border-box;
}
body {
	background-color: yellow;
}
.animal {
	position: absolute;
	top: 100px;
	left: 40vw;
	border: 1px solid grey;
	width: 300px;
	height: 300px;
}
.animal-body {
	height: 270px;
	width: 270px;
	border-radius: 50%;
	background-color: tan;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 5;
}
.ear {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: tan;
	position: absolute;
}
.ear.right {
	transform: translateX(200px);
}
.inner {
	background-color: pink;
	height: 80px;
	width: 80px;
	top: 15px;
	left: 15px;
	width: 60px;
	margin: auto;
	position: absolute;
	/* border-radius: 40px; */
	border-radius: 1000%;
}

/* .inner.left {
	transform: rotate(-45deg);
	left: 20px;
} */

.inner.right {
	/* left: 200px; */
	left: 20px;
	/* transform: rotate(45deg); */
}

.eye {
}
